body {
    all: unset;
}

nav {
    all: unset;
    display: flex;
    position: fixed;
    background-color: #FF0137;
    position: absolute;
    width: 1440px;
    height: 109px;
    left: 0px;
    top: 0px;
    
}