{% load static %}

<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      type="text/css"
      href="//fonts.googleapis.com/css?family=Iceland"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/home.css' %}"/>
    <title>HOME</title>
</head>

<body>
        <nav>
            <div class="profile">
                <span class="dot green"></span>
                <p class="name">{{title}}</p>
            </div>
            <select name="status" id="">
                <option value="">Online</option>
                <option value="">Offline</option>
                <option value="">Refeição</option>
                <option value="">Pausa</option>
                <option value="">Férias</option>
            </select>
            <select name="turno" id="">
                <option value="">T1</option>
                <option value="">T2</option>
                <option value="">T3</option>
                <option value="">C1</option>
                <option value="">C2</option>
            </select>
            <p>Última atualização xx/xx/xxxx às xx:xx</p>
            <button>
                SAIR
                <img src="../static/assets/sair_logo.svg" alt="">
            </button>
        </nav>
        <main>
            <section id="monitor">
                <span class="dot green"></span>
                <p>x Online</p>
                <span class="dot red"></span>
                <p>x Offline</p>
                <span class="dot blue"></span>
                <p>x Férias</p>
            </section>
            <section class="title">
                <h3>T1</h3>
                <h3>T2</h3>
                <h3>T3</h3>
            </section>
            <section class="turno">
                <div id="card"></div>
                <div id="card"></div>
                <div id="card"></div>
            </section>
            <section class="c">
                <h3 class="space">C1</h3>
                <h3 class="space2">C2</h3>
            </section>
            <section class="comercial">
                <div id="card2" class="space"></div>
                <div id="card2" class="space2"></div>
            </section>
            
        </main>
    <footer>
            <span class="dot green"></span>
            <p>Online</p>
            <span class="dot red"></span>
            <p>Offline</p>
            <span class="dot orange"></span>
            <p>Refeição</p>
            <span class="dot blue"></span>
            <p>Férias</p>
            <span class="dot yellow"></span>
            <p>Pausa</p>
    </footer>
</body>
</html>
