<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/styles/home.css"/>
    <title>HOME</title>
</head>

<body>
        <nav>
            <span class="dot-green"></span>
            <p>NOME SOBRENOME</p>
            <select name="status" id="">
                <option value="">Online</option>
                <option value="">Off</option>
                <option value="">Refeição</option>
                <option value="">Pausa</option>
                <option value="">Férias</option>
            </select>
            <select name="turno" id="">
                <option value="">T1</option>
                <option value="">T2</option>
                <option value="">T3</option>
                <option value="">C1</option>
                <option value="">C2</option>
            </select>
            <p>Última atualização xx/xx/xxxx às xx:xx</p>
            <button>
                SAIR
                <img src="../static/assets/sair_logo.svg" alt="">
            </button>
        </nav>
        <main >
            <section>
                <h2>SECTION 2</h2>
            </section>
            <section>
                <h1>SECTION 3</h1>
            </section>
            <section>
                <h2>SECTION 2</h2>
            </section>
        </main>
        
        <!-- <footer>
            <span class="dot-green"></span>
        </footer> -->
    
</body>
</html>
