<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../statics/home.css">
    <title>CHRONOS</title>
</head>
<body>
    <nav>
        <p>NOME SOBRENOME</p>
        <select name="status" id="">
            <option value="">Online</option>
            <option value="">Off</option>
            <option value="">Refeição</option>
            <option value="">Pausa</option>
            <option value="">Férias</option>
        </select>
        <select name="turno" id="">
            <option value="">T1</option>
            <option value="">T2</option>
            <option value="">T3</option>
            <option value="">C1</option>
            <option value="">C2</option>
        </select>
        <button>
            SAIR
            <img src="../assets/sair_logo.svg" alt="">
        </button>
    </nav>
</body>
</html>