{% load static %}

<!DOCTYPE html>
<html lang="pt-Br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="http://fonts.cdnfonts.com/css/farro" rel="stylesheet" />
    <link
      rel="stylesheet"
      type="text/css"
      href="//fonts.googleapis.com/css?family=Iceland"
    />
    <link rel="stylesheet" href="{% static '../static/styles/login.css' %}" />
    <title>Chronos - Gerenciamento de Associados</title>
  </head>
  <body>
    <main>
      <section class="chronos">
        <h1 class="title">CHRONOS</h1>
        <p class="subtitle">Gerenciamento de Associados</p>
      </section>

      <section class="login">
        <div></div>
          <form action="{% url 'login' %}" method="POST">{% csrf_token %}
            <img
            src="../static/assets/americanas_logo.svg"
            alt="logo americanas"
          />
            <input
            name="username"
            type="text"
            placeholder="Username"
          />
          <input name="password" type="password" placeholder="Senha" />
          <button type="submit">Entrar</button>
          </form>
          <div></div>
      </section>
    </main>
  </body>
</html>
