body {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* ESTILIZAÇÃO NAVBAR */
nav {
    background-color: #FF0137;
    display: flex;
    position: absolute;
    width: 100%;
    height: 10vh;
    align-items: center;
    justify-content: space-around;
    top: 0;
}

nav > button {
    border-radius: 14px;
    display: flex;
    align-items: flex-start;
    /* margin-right: 33px; */
    box-sizing: border-box;
    padding: 8px 16px;
    gap: 4px;
    height: 36px;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #FF0137;
    border-radius: 10px;
}

nav > button:hover, focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
    transform: scale(1.2);
}

nav > img {
    width: 16px;
    height: 16px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-right: 20
}

nav > p {
    color: #FFFFFF;
    margin-left: -1.375rem;
}

select {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    width: 30%;
    height: 50%;
    left: 344px;
    top: 2.25rem;
    border-radius: 10px;
    border-color: #FF0137;
    color: #FF0137;
}

select > option {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    flex: none;
    order: 1;
    flex-grow: 1;
}

nav > span {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2.688rem;
}

/* ESTILIZAÇÃO  SECTIONS*/
.dot-green {
    height: 25px;
    width: 25px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
}
main {
    display: grid;
}

main > section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}